
.ball{
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 100%;
    background-color: #ccffff;
    margin: 0 auto;
    opacity: 0;
}


/* preload */

/* configuracion preload */
.preload{
    width: 100vw;
    height: 100vh;
    background-color: #333333;
    position: fixed;
    top: 0rem;
    left: 0px;
    z-index: 90000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* clase que crea js para que se cierra */

.cerrar{
    opacity: 0;
    transition: all 0.5s;
}



.preload__img {
    animation: lds-dual-ring 1.2s linear infinite;
    filter: drop-shadow(1.1px 0.1px 0.1px #000000);
    margin-top: 2rem;
}

.preload__img img{
    width:105%;
    height: 60%;

}

@keyframes lds-dual-ring {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
